@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #181818;
  color: #f4f4f4;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  background-color: #212121;
  box-shadow: 0 0 5px 2px #212121;
  padding: 30px;
  border-radius: 5px;
}

.header {
  margin-bottom: 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  background: forestgreen;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-family: inherit;
  font-weight: 700;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  color: #181818;
}

.btn-block {
  display: block;
  width: 25%;
}

.task,
.note {
  background: #313131;
  margin: 5px;
  padding: 10px 20px;
  max-width: 500px;
}

.task.reminder {
  border-left: 5px solid crimson;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.notes {
  min-height: 250px;
  background-color: #313131;
  border: none;
  color: #f4f4f4;
  padding: 10px;
  resize: none;
  min-width: 450px;
  font-size: 18px;
}

textarea:focus {
  outline: none;
}

.icons {
  position: relative;
  width: 100%;
}

.trash {
  font-size: 30px;
  position: absolute;
  right: 0;
  margin-top: -3px;
  cursor: pointer;
}

.trash:hover {
  color: firebrick;
}

.check {
  font-size: 40px;
  position: absolute;
  right: 0;
  margin-top: -12px;
  margin-right: -3px;
  cursor: pointer;
}

.check:hover {
  color: greenyellow;
}

.completed {
  color: green;
}

.completed-text {
  text-decoration: line-through 3px;
}
.task p {
  font-size: 18px;
}
.note p {
  font-size: 20px;
}
.bell {
  font-size: 25px;
  cursor: pointer;
  color: gold;
}

.bell-off {
  cursor: pointer;
  font-size: 25px;
  color: burlywood;
}

.completed-bell {
  opacity: 0.3;
}
.trash-note {
  font-size: 30px;
  margin-top: 10px;
}
.trash-note:hover {
  color: firebrick;
}
